/* HEADER */
.my-nav-mobile a {
  display: flex !important;
  align-items: center !important;
}
.my-nav-mobile a img {
  width: 50px !important;
  margin-right: 10px !important;
}
.my-nav-mobile a span {
  margin-top: 0 !important;
}

.my-user-profile {
  margin-bottom: 50px;
}

/* MAIN */
.main {
  padding-top: 2%;
}
/* menu */
.collection {
  border: none;
}
.my-collection-menu a {
  border: none !important;
  display: flex !important;
}
.my-collection-menu a i {
  margin-right: 15px;
}
.active {
  background-color: #e3f6fd !important;
}

.badge {
  min-width: 20px !important;
  font-weight: 400 !important;
}

/* right part, search */
.my-search-row {
  display: flex;
  align-items: center;
}
/* posts */
.my-post-author-row {
  margin: 0;
}
.my-collection {
  margin: 0;
}
.my-collection li {
  border: none !important;
  padding: 0 !important;
  margin-bottom: 5px !important;
}
.my-collection li:last-child {
  margin-bottom: 0 !important;
}
.my-friends-name {
  font-size: 18px;
  font-weight: 700;
}

.my-post-image {
  padding-top: 10px;
}

.my-post-img-wrapper {
}
.my-post-img-wrapper img {
  width: 100%;
  min-height: 100%;
}

.my-post-card-title {
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: 700 !important;
}
@media (max-width: 700px) {
  .my-post-card-title {
    padding: 0 !important;
    font-size: 18px !important;
  }
}
